@model WHODataViz.DataModel.WHOStatistics
<tr>
    <td>
        @Html.DisplayFor(modelItem => Model.Value)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Year)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Sex)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Country)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Region)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.IsPublished)
    </td>
</tr>

