@model IEnumerable<WHODataViz.DataModel.WHOStatistics>

@{
    ViewBag.Title = "IndicatorData";
}

<h2>IndicatorData</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Region)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPublished)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    Html.RenderPartial("IndicatorDataItem", item);
}

</table>
